
/*GLOBAL*/

*{ 
    box-sizing: border-box;
}

:root {
    --primary-color: #2E948A;
    --pink-color: #FF4081;
    --grey--text: #555555;

    -webkit-font-smoothing: antialiased;
}


body {
    font-family: 'Ubuntu', sans-serif;
}

.presentation, .testimony {
    max-width: 1440px;
    margin: 0 auto;
}

/* header */ 

.header__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    background-color: var(--primary-color);    
}

.header__logo {
    margin-left: 82px;
    margin-top: 20px;
    height: 71px;
}

.header__nav {
    display: flex;
    margin-right: 103px;
    padding: 47px 0;
}

.header__nav-item {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.98px;
    margin-left: 42px;
}

/* footer */

.footer {
    padding: 59px 0px 52px 0px;
    background-color: var(--primary-color);   
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 80px ;
    padding-right: 100px ;
}

.footer__text {
    display: flex;
    flex-direction: column;
    line-height: 23px;
    font-size: 20px;
    font-weight: 400;
}

.footer__cta-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;    
    font-size: 20px;
    font-weight: 400;
    Width: 289px;
    Height: 51px;
    border: 2px solid #ffffff;
    border-radius: 62px;
    margin: 0 auto;
    margin-bottom: 13px;
    padding: 10px;
}