<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../../components/styles/reset.css">
    <link rel="stylesheet" href="cursos.css">
    <title>Curso</title>
</head>
<body>

    <header class="header">

        <div class="header__container">

            <img class="header__logo" src="../../../assets/imgs/logo-header.png" alt="Logo da Dindin">

            <nav>
                <ul class="header__nav">
                    <li><a class="header__nav-item" href="../../../index.html">INÍCIO</a></li>
                    <li><a class="header__nav-item" href="../blog/blog.html">BLOG</a></li>
                    <li><a class="header__nav-item" href="../contato/contato.html">CONTATO</a></li>
                </ul>
            </nav>

        </div>    

    </header>

    <main>

        <section class="presentation">

            <h1 class="presentation__title">
                Cursos
            </h1>
            <p class="presentation__content">
                Educação financeira é tudo de bom
            </p>

        </section>

        <section class="course">

            <div class="course__container">

                <div class="course__item">

                    <img class="course__item-image" src="../../../assets/imgs/ilustra-poupando.png" alt="Ilustração poupando">
                    <div class="course__item-box">
                        <span class="course__item-title">
                            Investimento para iniciantes
                        </span>
                        <p class="course__item-content">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                        </p>
                        <a class="course__item-cta" href="#">começar agora</a>
                    </div>

                </div>

                <div class="course__item">

                    <img class="course__item-image" src="../../../assets/imgs/ilustra-investimento.png" alt="Ilustração investimento">
                    <div class="course__item-box">
                        <span class="course__item-title">
                            Poupando e Rendendo
                        </span>
                        <p class="course__item-content">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                        </p>
                        <a class="course__item-cta" href="#">começar agora</a>                        
                    </div>

                </div>

                <div class="course__item item3">

                    <img class="course__item-image" src="../../../assets/imgs/ilustra-independencia.png" alt="ilustração investimento">
                    <div class="course__item-box">
                        <span class="course__item-title">
                            Independência Financeira
                        </span>
                        <p class="course__item-content">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                        </p>
                        <a class="course__item-cta" href="#">começar agora</a>                        
                    </div>

                </div>

            </div>

        </section>

    </main>

    <footer class="footer">

        <div class="footer__container">

            <img class="footer__logo" src="../../../assets/imgs/logo-footer.png" alt="Logo da Dindin">

            <div class="footer__text">
                <span class="footer__text-item"><a href="../../../index.html">início</a></span>
                <span class="footer__text-item"><a href="../blog/blog.html">blog</a></span>
                <span class="footer__text-item"><a href="../contato/contato.html">contato</a></span>
            </div>

            <div class="footer__cta">
                <a class="footer__cta-button" href="#">quero ser prof</a>
                <a class="footer__cta-button" href="#">aqui tem outro link</a>
            </div>

        </div>        

    </footer>

</body>
</html>