<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../../components/styles/reset.css">
    <link rel="stylesheet" href="post.css">
    <title>Posts</title>
</head>
<body>

    <header class="header">

        <div class="header__container">

            <img class="header__logo" src="../../../assets/imgs/logo-header.png" alt="Logo da Dindin">

            <nav>
                <ul class="header__nav">
                    <li><a class="header__nav-item" href="../cursos/cursos.html">CURSOS</a></li>
                    <li><a class="header__nav-item" href="../blog/blog.html">BLOG</a></li>
                    <li><a class="header__nav-item" href="../contato/contato.html">CONTATO</a></li>
                </ul>
            </nav>

        </div>    

    </header>

    <main class="main">

        <article class="article">

            <div class="article__presentation">
                <h1 class="article__presentation-title">On the other hand, we denounce</h1>
                <span class="article__presentation-data">27 de dezembro de 2020</span>
                <img class="article__presentation-image" src="../../../assets/imgs/background-item.jpg" alt="background cinza">
            </div>    

            <div class="article__content">
                <p class="article__content-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
                <p class="article__content-text">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                <p class="article__content-text">The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. </p>
                <span class="article__content-title">These cases are perfectly simple and easy to distinguish</span>
                <p class="article__content-text">In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.
                </p>
                <p class="article__content-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                </p>
                <span class="article__content-title">Sed ut perspiciatis unde omnis iste natus error sit </span>
                <p class="article__content-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </div>

        </article>

        <section class="features">

            <span class="features__title">CONHEÇA NOSSOS CURSOS</span>

            <div class="features__block">

                <div class="features__item">

                    <img class="features__item-image" src="../../../assets/imgs/ilustra-poupando.png"
                        alt="Pensar em uma descrição apropriada">

                    <h2 class="features__item-title">Investimento para iniciantes</h2>

                    <p class="features__item-content">Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.</p>

                    <a class="features__item-cta" href="#">começar agora</a>

                </div>

                <div class="features__item">

                    <img class="features__item-image" src="../../../assets/imgs/ilustra-investimento.png"
                        alt="Pensar em uma descrição apropriada">

                    <h2 class="features__item-title">Poupando e Rendendo</h2>

                    <p class="features__item-content">Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.</p>

                    <a class="features__item-cta" href="#">começar agora</a>

                </div>

                <div class="features__item">

                    <img class="features__item-image" src="../../../assets/imgs/ilustra-independencia.png"
                        alt="Pensar em uma descrição apropriada">

                    <h2 class="features__item-title">Independência Financeira</h2>

                    <p class="features__item-content">Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.</p>

                    <a class="features__item-cta" href="#">começar agora</a>
                </div>

            </div>       

        </section>

    </main>

    <footer class="footer">
        
        <div class="footer__container">

            <div class="footer__image">     
                <img class="footer__logo" src="../../../assets/imgs/logo-footer.png" alt="Logo da Dindin">
            </div>      

                <div class="footer__text">
                    <span><a href="../cursos/cursos.html">cursos</a></span>
                    <span><a href="../blog/blog.html">blog</a></span>
                    <span><a href="../contato/contato.html">contato</a></span>
                </div>

                <div class="footer__cta">
                    <a class="footer__cta-button" href="#">quero ser prof</a>
                    <a class="footer__cta-button" href="#">aqui tem outro link</a>
                </div>
        </div>

    </footer>

</body>
</html>